@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.Contact-box
{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color:  #131212;
    color: white;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.Contact
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Contact-title 
{
    font-size: 40px;
    margin-top: 60px;
    padding-bottom: 40px;
    
}

.Contact-title span
{
    font-family: 'Titillium Web', sans-serif;
    color: var(--main-color);
}

.Contact-data
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.Contact-table
{
    display: flex;
    width: 600px;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

.Contact-text
{

    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    

}

.Contact-text input
{
    background-color: rgb(63, 62, 62);
    border: none;
    padding: 8px 20px;
    border-radius: 14px;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    margin: 7px;
    filter: brightness(60%);
    letter-spacing: 2px;
}

.Contact-text textarea
{
    filter: brightness(60%);
    background-color: rgb(63, 62, 62);
    border: none;
    padding: 8px 20px;
    border-radius: 14px;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    margin: 7px;

    border: none;

    text-align: left;
    width: 350px;
    height: 80px;
    letter-spacing: 2px;
}

.Contact-text textarea:focus
{
    filter: brightness(100%);
    outline: none;
}

.name 
{
    text-align: left;
    width: 300px;
    height: 40px;
}

.email
{
    text-align: left;
    width: 300px;
    height: 40px;
}

.Contact-text input:focus
{
    filter: brightness(100%);
    outline: none;
}

.user
{
    width: 65%;
    display: flex;
    justify-content: flex-start;
    font-size: 32px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-bottom: 2px dotted var(--main-color);

}

.Contact-details
{
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;

}

.Contact-person
{
    display: flex;

    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    width: 70%;
    border-bottom: 2px dotted var(--main-color);
    padding-bottom: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.Contact-info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    font-size: 26px;

}

.Contact-info span
{
    color: white;
    padding-left: 15px;
}


.Contact-info h4
{
    padding: 2px;
}

.Contact-info i
{
    color: var(--main-color);
    padding: 10px;
    width: 70px;
    font-size: 30px;
}

.icons
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.icons i:hover
{
    outline: none;
    filter: brightness(100%);
}

.icons i
{
    font-size: 100px;
    filter: brightness(60%);
}

.Contact-text button
{
    width: 170px;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--main-color);
    filter: brightness(70%);
    border-radius: 35px;
    padding: 8px 20px;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    border: none;
}

.Contact-text button:hover
{
    outline: none;
    filter: brightness(100%);
}

.off
{
    margin-top: 45px;
    color: var(--main-color);
    display: flex;
}

.on
{
    margin-top: 45px;
    color: var(--main-color);
    display: none;
}

@media screen and (max-width: 769px)
{
    .Contact-details
    {
        width: 580px;
    }

    .Contact-table
    {
        width: 580px;
    }

    .Contact-info
    {
        font-size: 23px;
    }

    .icons i
    {
        font-size: 90px;
    }
}

@media screen and (max-width: 541px)
{

    .Contact-details
    {
        width: 500px;
    }

    .Contact-table
    {
        width: 500px;
    }


    .Contact-details
    {
        width: 480px;
        padding: 10px;
    }

    .Contact-info
    {
        font-size: 18px;
    }

    .icons i
    {
        font-size: 90px;
    }

    
    .Contact-table
    {
        display: flex;
        width: 500px;
        padding: 20px;
    }

    .Contact-title
    {
        font-size: 30px;
    }
}

@media screen and (max-width: 461px)
{
    .Contact-details
    {
        width: 410px;
        padding-left: 40px;
    }

    .Contact-table
    {
        width: 410px;
        padding-left: 40px;
    }

    .Contact-person
    {
        font-size: 25px;
    }

    .Contact-info
    {
        font-size: 12px;
    }

    .icons i
    {
        font-size: 55px;
    }


    .Contact-title
    {
        font-size: 22px;
    }

    .user
    {
        width: 80%;
        font-size: 22px;
        padding-left: 10px;
    }

    .Contact-text button
    {
        padding: 8px 10px;
        font-size: 13px;
    }

    .name 
    {
        text-align: left;
        width: 260px;
        height: 35px;
    }

    .email
    {
        text-align: left;
        width: 260px;
        height: 35px;
    }

    .Contact-text input
    {
        font-size: 16px;
    }

    .Contact-text textarea
    {
        font-size: 14px;
        width: 300px;
        height: 70px;
    }

    .Contact-info i
    {
        width: 50px;
        font-size: 20px;
    }

    .icons i 
    {
        font-size: 45px;
    }

}

@media screen and (max-width: 376px)
{
    .Contact-details
    {
        width: 370px;
        padding-left: 20px;
    }

    .Contact-table
    {
        width: 370px;
        padding-left: 20px;
    }

    .Contact-info i
    {
        width: 50px;
        font-size: 25px;
        width: 44px;
    }

    .icons i 
    {
        font-size: 55px;
    }

}

@media screen and (max-width: 321px)
{
    .Contact-details
    {
        width: 300px;
        padding-left: 5px;
    }

    .Contact-table
    {
        width: 300px;
        padding-left: 5px;
    }

    .Contact-title
    {
        font-size: 20px;
    }

    
    .name 
    {
        width: 230px;
        height: 25px;
    }

    .email
    {
        width: 230px;
        height: 25px;
    }

    .user
    {
        font-size: 18px;
    }

    .Contact-text textarea
    {
        width: 260px;
        height: 50px;
    }

    .Contact-person
    {
        font-size: 24px;
    }

    .Contact-info
    {
        font-size: 10px;
        
    }

    .icons i 
    {
        width: 44px;
    }

    .icons i
    {
        font-size: 45px;
    }

    .Contact-text 
    {
        padding-left: 5px;
    }

    .Contact-text button
    {
        padding: 2px 0px;
        width: 140px;
        font-size: 13px;
    }

}

@media screen and (max-width: 281px)
{
    .Contact-details
    {
        width: 280px;
        padding-left: 0px;
    }

    .Contact-table
    {
        width: 280px;
        padding-left: 0px;
    }
    .Contact-info i 
    {
        font-size: 18px;
        width: 34px;
    }

    .icons i 
    {
        font-size: 40px;
    }

    
    .Contact-title
    {
        font-size: 16px;
    }
}
